language: python

python:
  - "3.8"

env:
  global:
    - DJANGO_SETTINGS_MODULE="github_scraper.settings.travis"
    - PYTHONPATH="/home/travis/build/jcaraballo17/github-scraper"
    - PIP_USE_MIRRORS=true
    - BUILD_ON_TRAVIS=true

install:
  - pip install -r requirements.txt
  - pip install coveralls

services:
  - postgresql

before_script:
  - psql -c 'create database travis_ci_db;' -U postgres
  - cd src
  - python manage.py migrate

script:
  - pytest --cov=github_data/

after_success:
  - coveralls
